body {
    background-color: aquamarine;
    color: rgb(255, 187, 0);
}
.heading{
    width:80%;
    font-size:22px;
}

#camera{
    border: 2px dashed blue ;
    width: 350px;
    height:300px;
}

.name_of_object, #result_object_name, #result_object_accuracy {
    color: rgb(102, 184, 205);
}